body {
  margin: 0em 5em;
}

header {
  border-top: 2px solid red;
  margin-bottom: 1em;
}

header nav {
  float: right;
  margin-top: -4em;
}

header nav ul li {
  display: inline-block;
  margin-right: 1em;
}

div.container {
}

section div {
  float: left;
  padding: .5em;
}

section.three-blocks div {
  width: 30%;
}

section.two-blocks div {
  width: 48%;
}

section.small-big div {
  width: 20%;
}

section.small-big div:last-child {
  width: 75%;
}

.disclaimer {
  background-color: #e5e5e5;
  font-size: 150%;
}

.photo img {
  border-radius: 10px 10px 10px 10px;
  box-shadow: 3px 3px 4px #000000;
  margin-top: 1.2em;
  width: 150px;
}

#logo {
  margin-top: -5em;
  padding: 1em 0.8em 0.5em 0.8em;
  background: url('../img/megaphone.jpg') no-repeat center;
  background-size: 60px 60px;
}